// Import the base variables
@import '../../plugins/vendor/bootstrap/less/variables.less';

// Override every needed variable
@font-family-serif      : 'Lato', sans-serif;
@font-family-sans-serif : @font-family-serif;
@headings-font-weight   : 200;

// Brand primary
@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #27ae60;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@baseColor: #2C3E50;
@baseDarkColor: #243342;

// Link color
@link-color: #1B7EDF;
@link-hover-color: #1B7EDF;

// Buttons radius
@border-radius-base:        3px;
@border-radius-large:       3px;
@border-radius-small:       3px;
